.booking-form-container {
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #f0f4f8; /* Light background for better contrast */
    
    display: flex;
    width: 100%;
    height: 120vh;
    background-color: #f8f8f8;
}

.booking-image {
    width: 50%;
    background: #1E4554;
}

.booking-image img {
    width: 100%;
    height: 120%;
    object-fit: cover;
}

.booking-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    background-color: #1e4554c7;
    width: 50%;
}

.booking-form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: aliceblue;
    font-size: 2.25rem;
    font-weight: 700;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group label {
    position: absolute;
    left: -9px;
    top: 60%;
    transform: translateY(-50%);
    padding: 0 5px;
    padding-bottom: 80px;
    pointer-events: none;
    transition: all 0.2s ease-out;
    font-weight: 400;
    font-size: 18px;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label,
.form-group select:focus + label,
.form-group select:not(:placeholder-shown) + label {
    color: transparent;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
}

.back-button,
.submit-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.back-button {
    background-color: #6c757d;
}

.back-button:hover,
.submit-button:hover {
    opacity: 0.9;
}



