.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('../Background.jpg'); /* Add your background image here */
    background-size: cover;
    background-position: center;
    animation: fadeIn 1.5s ease-in;
<<<<<<< HEAD
=======
    
>>>>>>> 04b03598cffa28daf321e5b630fe2939d3456689
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .login-form {
    background: #1e455494;
<<<<<<< HEAD
    padding: 20px;
=======
    padding: 70px;
>>>>>>> 04b03598cffa28daf321e5b630fe2939d3456689
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
    animation: slideIn 0.5s ease-in;
    
  }
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  h2 {
    margin-bottom: 20px;
    color: aliceblue;
    font-size: 2.25rem;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
<<<<<<< HEAD
=======
   
>>>>>>> 04b03598cffa28daf321e5b630fe2939d3456689
  }
  
  .error-message {
    color: red;
    margin-bottom: 10px;
  }
  
  input {
    width: 90%;
<<<<<<< HEAD
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
=======
    padding: 16px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
>>>>>>> 04b03598cffa28daf321e5b630fe2939d3456689
  }
  
  button {
    padding: 10px 20px;
    background-color: #1E4554;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bolder;
<<<<<<< HEAD
=======
    font-size: 1rem;
>>>>>>> 04b03598cffa28daf321e5b630fe2939d3456689
  }
  
  button:hover {
    background-color: #00b3b3fa;
  }
  
  .login-links {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .login-links a {
    color: #D9D9D9;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .login-links a:hover {
    color: #00b3b3fa;
  }
  
  