/* LandHomepage2.css */
.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../Background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Ensure the background image is fixed */
    position: relative; /* To position child elements absolutely */
    overflow: hidden; /* Hide any overflowing elements */
    animation: animateBackground 30s infinite linear;
}

@keyframes animateBackground {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 100% 100%;
    }
}

.welcome-message {
    position: absolute;
    padding: 20px;
    color: white;
   /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);*/
}

.left {
    top: 20px;
    left: 20px;
    text-align: left;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.welcome-message h2 {
    font-size:  2.25rem;
    margin-top: -18px;
    top: 200px;
    color: #ffffffbc;
    font-weight: 700;
    padding-bottom: 289px;
}

.welcome-message h5 {
    font-size: 2em;
    margin: 0;
    padding-top: 200px;
}

.welcome-message p {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: 400;
}



