.form-group{
    display: flex;
    flex-direction: column;
    margin: 40px 50px;
    align-items: center;
    justify-content: center;
}

/* Patient Sign up */
.kin-form {
    color: white;
    float: right;
    height: 600px;
    align-content: center;
    background-color: rgba(29, 97, 122, 0.7);
    padding: 20px;
}

.reg-form {
    color: white;
    float: left;
    height: 600px;
    align-content: center;
    background-color: rgba(30, 69, 84, 0.7);
    text-align: center;
    padding: 20px;
}

/* form input style */
input {
    border-radius: 4px;
    border: #bec0c2;
    width: 350px;
}

/*Registertext + Login text*/
h1{
    text-align: center;
    color: #fff;
}
h3{
    text-align: center;
    padding: 20px;
}

/*New Doctor/Nurse */
.personal-form {
    color: white;
    float: left;
    height: 600px;
    align-content: center;
    background-color: rgba(30, 69, 84, 0.7);
    text-align: center;
    padding: 20px;
}

.contact-form {
    color: white;
    float: right;
    height: 600px;
    align-content: center;
    background-color: rgba(30, 69, 84, 0.7);
    padding: 20px;
    border-left: #fff solid 1px;
}

.dropdown {
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    width: 350px;
    cursor: pointer;
}

.control-form:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.dropdown option {
    padding: 20px 12px;
}

.dropdown:hover,
.dropdown:focus {
    border-color: #1da5db;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.designation-dropdown {
    padding: 3px;
    width: 190px;
    border-radius: 4px;
}

.dropdown option:first-child {
    color: #6c757d;
    font-style: italic;
}

.clinic-dropdown {
    text-align: center;
    margin: 15px;
}

/* ClinicReg  */
.clinicReg-content {
    padding: 50px;
    display: table-column;
    color: #000;
    margin-top: 100px;
    animation: slideIn 0.3s ease-in;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
}

.admin-passowrd {
    margin: 30px;
}

input .password {
    border: #fff;
}

/* Password Generator */

/* RegDone */
.regDone-content {
    padding: 50px;
    display: table-column;
    margin-top: 100px;
    animation: slideIn 0.3s ease-in;
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    width: 500px;
}

.welcome-icon {
    padding: 30px;
}

.verify-text {
    color: #f88d02;
    font-weight: bolder;
}

.p-verify {
    color: #f88d02;
}

.heading {
    padding: 0px;
    margin: 0px;
    float: left;
}



.navbar-brand {
    display: flex;
    align-items: center;
}


/*next of kin*/
h4 {
    text-align: center;
}

#header{
    width: 103%;
    background-color: rgb(222, 238, 243);
    height: 10vh;
    flex-wrap: wrap;padding-right: 50px;
}

.nav_button{
    margin: 10px 20px;
    color: #1E4554;
    text-decoration: none;
    text-decoration: none;
    font-size: 20px;
}

body {
    background-image: url('../../../assets/admin_assets/images/Background.jpg');
    background-size: cover;
}

.content {
    display: table-column;
    color: #fff;
    margin-top: 100px;
    animation: slideIn 0.3s ease-in;
}

@keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    min-width: 100%;
}

/* Create Passowrd page */
.password {
    background-color: rgba(30, 69, 84, 0.7);
    border-radius: 20px;
    padding: 20px;
    color: #fff;
    text-align: center;
    margin: 100px;
    width: 500px;
}


.input-group {
    display: flex;
    align-items: center;
    margin: 10px;
}

.input {
    flex: 1;
    padding: 8px;
    margin-right: 8px;
}

.show-hide-btn {
    margin-left: 8px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: blue;
    font-size: 14px;
}

.error-message {
    color: red;
    margin-left: 8px;
    font-size: 14px;
}

.success-message {
    color: green;
    margin-top: 10px;
    font-size: 14px;
}

.submit-button,.back-button, .close-button{
    background-color: rgba(30, 69, 84, 0.7);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px; /* Optional: adds rounded corners */
    cursor: pointer;
    font-size: 16px; /* Optional: adjusts font size */
    transition: background-color 0.3s ease; /* Optional: adds a smooth transition effect */
}

/* AddNurse.css */

.reg-button {
    background-color: #e6af18; 
    border: #000 solid 1px;
    color: white;
    padding: 10px 60px;
    text-align: center;
    display: inline-block;
    font-size: 16px; 
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.next-button {
    background-color: #1E4554;
    border: #000 solid 1px;
    color: white;
    padding: 10px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; 
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.close-button:hover {
    background-color: #66c6f3;
}
.nav_button:hover {
    color: #66c6f3;
}
.reg-button:hover{
    background-color: #f88d02; /* Darker green on hover */
}

.next-button:hover {
    background-color: #66c6f3;
}

.submit-button:hover {
    background-color: rgb(202, 16, 81);
}

.back-button:hover
{
    background-color: rgb(202, 16, 81);

}

.title
{
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;

}

.validation-messages p {
    margin: 5px 0;
    font-size: 0.9em;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

.button-group {
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}                                                                                                                                                                                                                                                                                                
.validation-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white */
    padding: 10px;
    border-radius: 5px;
}

.validation-content {
    display: flex;
    flex-direction: column;
}
.validation-container p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.valid, .invalid {
    font-size: 16px;
}

