.booking-form-container {
    display: flex;
    justify-content: center; /* Center the form on the page */
    align-items: center;
    padding: 2rem; /* Adjusted padding for better alignment */
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    box-sizing: border-box; /* Ensure padding is included in width/height */
    background-image: url('../../../assets/admin_assets/images/Background.jpg');
}

.booking-image {
    width: 50%;
    padding-right: 2rem;
    height: 107%;
    left: 100%; /* Full height for the image container */
}

.booking-image img {
    width: 109%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the area */
    border-radius: 10px;
    padding-right: 100px;
   
    
}

.booking-form {
    width: 50%;

    padding: 2rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%; /* Full height for the form container */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center form content vertically */
}

.booking-form h2 {
    text-align: center;
    color: #333;
    margin-bottom: 1.5rem;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    box-sizing: border-box;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.submit-button,
.back-button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

.submit-button:hover,
.back-button:hover {
    background-color: #45a049;
}

.back-button {
    background-color: #f44336;
}

.back-button:hover {
    background-color: #e53935;
}
