.main_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-image: url('../../../assets/admin_assets/images/Background.jpg'); /* Add your background image here */
  background-size: cover;
  background-position: center;
  animation: fadeIn 1.5s ease-in;
}

label {
  color: aliceblue;
}
h2{
  text-align: center;
  height: 60px;
  
}

p{
  color: aliceblue;
}

.submit-button{
  margin-top: 20px;
}


.reg-formP{
  background: #1e455494;
  padding: 70px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  animation: slideIn 0.5s ease-in;
}

.login-button {
  background-color: rgba(30, 69, 84, 0.7);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px; /* Add margin-top if you need some space */
}

.login-button:hover {
background-color: rgba(30, 69, 84, 1); /* Darken the button on hover */
}

.large-input {
  height: 20px;
  width: 300px;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
}

.login-button, .reset-button {
  background-color: rgba(30, 69, 84, 0.7);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.login-button:hover, .reset-button:hover {
  background-color: #00b3b3fa;
}

.forgot-password-link {
  color: #EC9109;
  text-decoration: none;
  margin-top: 10px;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.sign-up-link {
  color: #EC9109;
  text-decoration: none;
}

.sign-up-link:hover {
  text-decoration: underline;
}


  